@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --title-color: 0 0 0;
    --primary-color: 0, 0, 0;

    --link-primary-color: 0, 0, 0;
    --link-secondary-color: 0, 0, 0;

    --btn-primary-color:0 0 0
    --btn-secondary-color: 0, 0, 0;

    --background-main-color: 51 51 51;

    --background-header-color: 7 107 129;
    --background-footer-color: 7 107 129;

    --background-btn-color:47 140 160 ;
    --background-btn-color-hover: 17 106 125;

  }

  /* @media (prefers-color-scheme: dark) {
    :root {
    --title-color: 0 0 0;
    --primary-color: 0, 0, 0;

    --link-primary-color: 0, 0, 0;
    --link-secondary-color: 0, 0, 0;

    --btn-primary-color:0 0 0
    --btn-secondary-color: 0, 0, 0;

    --background-main-color: 255 255 255;

    --background-header-color: 7 107 129;
    --background-footer-color: 7 107 129;

    }
  } */

  :root[data-theme="dark"] {
    --title-color: 0 0 0;
    --primary-color: 0, 0, 0;

    --link-primary-color: 0, 0, 0;
    --link-secondary-color: 0, 0, 0;

    --btn-primary-color:0 0 0
    --btn-secondary-color: 0, 0, 0;

    --background-main-color: 0 0 0;

    --background-header-color: 255 255 255;
    --background-footer-color: 255 255 255;

  }

  :root[data-theme="light"] {
    --title-color: 0 0 0;
    --primary-color: 0, 0, 0;

    --link-primary-color: 0, 0, 0;
    --link-secondary-color: 0, 0, 0;

    --btn-primary-color:0 0 0
    --btn-secondary-color: 0, 0, 0;

    --background-main-color: 255 255 255;

    --background-header-color: 7 107 129;
    --background-footer-color: 7 107 129;

  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--title-color));
  background: rgb(var(--background-main-color))
}

.btnsLink {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #ffffff80;
  transition: 0.05s ease;
}

.btnsLink:is(:hover, :focus) {
  background: #00eeff;
  border: 1px solid #00e1ff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #00e1ff, 0 0 20px #00e1ff, 0 0 50px #00e1ff,
    0 0 100px #00e1ff;
}

main .form-page{
   height: calc(100vh - 72px - 145px);
}


.logo {
  font-size: 24px; /* Задайте потрібний розмір тексту */
  text-decoration: none;
  color: black; /* Задайте потрібний колір тексту */
  transition: all 0.3s ease; /* Додамо плавну анімацію при зміні тіні */
  animation: pulse 1.5s infinite; /* Додаємо мерехтливу анімацію */
}

@keyframes pulse {
  0%, 100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); /* Початкова і кінцева тінь */
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.7); /* Початкова і кінцева тінь для тексту */
  }
  50% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0); /* Проміжна тінь (без тіні) */
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.7); /* Проміжна тінь для тексту */
  }
}